[Unit]
Description=Check for approved OT1L GenQuant deployments

[Timer]
OnBootSec=30s
OnUnitInactiveSec=60s
AccuracySec=5s
Persistent=true
Unit=otl1-bug-deployer.service

[Install]
WantedBy=timers.target
